# Rendered Pages
public/
resources/

# Program Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go Workspace
go.work
go.work.sum

# Dependencies
vendor/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Secrets
.env

# IDE
.idea/
.vscode/
