h1 {
    padding: 1rem 2rem;
}

ul.navbar {
    list-style: none;
    display: flex;
    padding-left: 2rem;
    margin-bottom: 0;
}

.navbar button {
    border: 1px solid black;
    border-bottom: none;
    background-color: #9eebcf;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 5px 5px 0 0;
}

.navbar button:hover {
    background-color: #55c99e;
}

.navbar button.active {
    background: #137752;
    color: white;
    transform: translateY(1px);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

ul.navbar li {
    display: inline;
}

.produkt-detail {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
}

.produkt-image {
    flex: 0 0 250px;
}

.produkt-image img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    max-height: 40vh;
}

.produkt-label {
    padding-left: 2rem;
}

.produkt-label img.nutriscore {
    width: 8%;
    height: auto;
}

.produkt-label img.label-img {
    width: 4%;
    height: auto;
}

.produkt-info ul {
    list-style: disc inside;
    padding-left: 0;
}

.nutritions-detail {
    display: none;
    padding-left: 2rem;
}

.table-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.nutrition-table,
.nutrition-compare-table {
    flex: 1 1 320px;
    max-width: 420px;
    border-collapse: collapse;
    width: 100%;
}

.nutrition-table th,
.nutrition-table td,
.nutrition-compare-table th,
.nutrition-compare-table td {
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem;
    text-align: left;
}

.nutrition-table th,
.nutrition-compare-table th {
    background: #bbb9b9;
    font-weight: bold;
}

.nutrition-table tr:nth-child(even),
.nutrition-compare-table tr:nth-child(even) {
    background-color: white;
}

.search-product-note {
    margin-top: 1rem;
    color: #444;
}

.produkt-flex-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.produkt-left {
    flex: 1 1 300px;
    min-width: 250px;
}

.produkt-right {
    flex: 0 0 auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-right: 4rem;
}

#search-product-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #aaa;
    filter: grayscale(100%);
}

/* Tablet / mittlere Bildschirme */
@media (max-width: 900px) {
    .produkt-right {
        max-width: 40%;
    }
}

/* Sehr kleine Bildschirme */
@media (max-width: 600px) {
    .produkt-flex-wrapper {
        flex-direction: column;
    }
    .produkt-right {
        max-width: 100%;
        margin-top: 1rem;
    }
    #search-product-image {
        max-width: 80%;
    }
}
