{{ define "header" }}
	{{ partials.Include "site-navigation.html" . }}
	<div class="scroll-content" id="Home">
	{{ partials.Include "site-header.html" .}}
	</div>
{{ end }}
{{ define "main" }}


  <div class="scroll-content pa3 center w-70-l" id="HowTo">
	  <h1 class="f1 tc-l">{{ T "howToUse" }}</h1>
	  {{ .Content }}
  </div>

 <div class="scroll-content pa3 center w-70-l" id="Mission">
	 <h1 class="f1 tc-l">{{ T "ourMission" }}</h1>
    
    <div class="flex items-start flex-wrap mb4" style="margin-bottom: 80px; flex-direction: row-reverse;">
      <div class="w-100 w-50-ns pl2-ns pl4-l">
        <img src="{{ "media/mission/cows-barn.jpg" | relURL }}" alt="Tierwohl" class="w-100 br3">
      </div>
      <div class="w-100 w-50-ns pr2-ns pr4-l">
        <h3 class="mt0">{{ .Param "our_mission_title_1" }}</h3>
        <p>
          {{ .Param "our_mission_para_1" }}
        </p>
      </div>
    </div>

    <div class="scroll-content flex items-start flex-wrap mb4" style="margin-bottom: 80px;">
      <div class="w-100 w-50-ns pr2-ns pr4-l">
        <img src="{{ "media/mission/yoga.jpg" | relURL }}" alt="Tierwohl" class="w-100 br3">
      </div>
      <div class="w-100 w-50-ns pl2-ns pl4-l">
        <h3 class="mt0">{{ .Param "our_mission_title_2" }}</h3>
        <p>
          {{ .Param "our_mission_para_2" }}
        </p>
      </div>
    </div>

    <div class="scroll-content flex items-start flex-wrap mb4" style="margin-bottom: 80px; flex-direction: row-reverse;">
      <div class="w-100 w-50-ns pl2-ns pl4-l">
        <img src="{{ "media/mission/sunrise-bali-jungle.jpg" | relURL }}" alt="Klimafreundlichkeit" class="w-100 br3">
      </div>
      <div class="w-100 w-50-ns pr2-ns pr4-l">
        <h3 class="mt0">{{ .Param "our_mission_title_3" }}</h3>
        <p>
          {{ .Param "our_mission_para_3" }}
        </p>
      </div>
    </div>

    <div class="flex items-start flex-wrap mb4">
      <div class="w-100 w-50-ns pr2-ns pr4-l">
        <img src="{{ "media/mission/veggies.jpg" | relURL }}" alt="Genuss & Vielfalt" class="w-100 br3">
      </div>
      <div class="w-100 w-50-ns pl2-ns pl4-l">
        <h3 class="mt0">{{ .Param "our_mission_title_4" }}</h3>
        <p>
          {{ .Param "our_mission_para_4" }}
        </p>
      </div>
    </div>
  </div>
<style>
	html {
		scroll-behavior: smooth;
	}

	.scroll-content {
		padding-top: 50px;
	}
	.tracked {
		z-index: 1;
	}
</style>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ end }}

