{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
  <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
  {{- .Content -}}
  </section>

  <div class="pa4-l">
    <form action="{{ .RelPermalink }}" method="GET" class="mw7 center pa4 br2-ns">
      <fieldset class="cf bn ma0 pa0">
        <div>
          <input
                  id="search-query"
                  class="f6 f5-l input-reset ba bw1 b--light-green br-0 fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
                  placeholder="{{ .Param "search_placeholder" | default "Search..." }}"
                  type="search"
                  name="q"
          >
          <input
                  class="f6 f5-l button-reset fl pv3 tc ba bw1 b--light-green bl-0 bg-animate eg-search-btn hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
                  type="submit"
                  value="{{ .Param "search_button" | default "Search" }}"
          >
        </div>
      </fieldset>
    </form>
  </div>

  <div id="search-info"></div>
  <section id="search-results" class="mt5"></section>
  <div class="search-loading tc mid-gray f4 mt4">
    {{ .Param "loading" | default "Loading..." }}
  </div>

  <script>
    window.SEARCH_PAGE = {{ .RelPermalink | jsonify | safeJS }};

    // Produkte: product_id -> Daten (inkl. categories)
    window.SEARCH_PRODUCTS = {
    {{- $first := true -}}
    {{- with .Site.GetPage "/produkte" -}}
    {{- range .Pages -}}
    {{- $pid := lower (default "" .Params.product_id) -}}
    {{- if $pid -}}
    {{- if not $first }},{{ end -}}
    {{- $first = false -}}

    {{- $img := "" -}}
    {{- with .Params.image -}}
    {{- $img = (. | relURL) -}}
    {{- end -}}

    {{- $cats := slice -}}
    {{- with .Params.categories -}}
    {{- range . -}}
    {{- $cats = $cats | append (lower .) -}}
    {{- end -}}
    {{- end -}}

    {{- /*
        Aliases for fuzzy search across languages.
        - Always include current title
        - Include titles of all translations (other languages)
        - Optionally include custom aliases from front matter (aliases: [..])
    */ -}}
    {{- $aliases := slice -}}
    {{- $aliases = $aliases | append .Title -}}
    {{- range .Translations -}}
    {{- $aliases = $aliases | append .Title -}}
    {{- end -}}
    {{- with .Params.aliases -}}
    {{- range . -}}
    {{- $aliases = $aliases | append . -}}
    {{- end -}}
    {{- end -}}

    {{- $obj := dict
      "id" $pid
      "title" .Title
      "aliases" $aliases
      "link" .RelPermalink
      "image" $img
      "description" (default "" .Params.description)
      "ratio" (default "" .Params.ratio)
      "categories" $cats
      -}}
    {{- printf "%q: %s" $pid ($obj | jsonify) | safeJS -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
    };

    // Relations: searchProduct -> substituteProduct
    window.SEARCH_RELS = [
      {{- $rfirst := true -}}
    {{- range (where .Site.RegularPages "Section" "ersatzprodukte") -}}
    {{- $sp := lower (default "" .Params.searchProduct) -}}
    {{- $sub := lower (default "" .Params.substituteProduct) -}}
    {{- if and $sp $sub -}}
    {{- if not $rfirst }},{{ end -}}
    {{- $rfirst = false -}}
    {{- dict "searchProduct" $sp "substituteProduct" $sub | jsonify | safeJS -}}
    {{- end -}}
    {{- end -}}
    ];
  </script>

  {{ with resources.Get "js/fuzzy_search.js" }}
  {{ $fuzzy := . | minify | fingerprint }}
  <script src="{{ $fuzzy.RelPermalink }}" integrity="{{ $fuzzy.Data.Integrity }}"></script>
  {{ end }}

  {{ $src := resources.Get "js/search_erweitert.js" }}
  {{ $out := printf "gen/search_erweitert.%s.js" .Lang }}
  {{ $js := $src | resources.ExecuteAsTemplate $out . | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

  {{ with resources.Get "css/search_erweitert.css" }}
  {{ $css := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end }}
</article>
{{ end }}